<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/validar-usuario-adminPla.js"></script>
    <link rel="stylesheet" href="../css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/layout/administradores.css">
    <link rel="stylesheet" href="../css/componentes.css">
    <link rel="shortcut icon" type="image/png" href="../imgs/favicon.png">
    <title>Sorbil -- Plataforma -- Listar géneros</title>
</head>

<body id="grid-admin">

        <!--Header-->
        <header id="header-admin">
        
            <h3 class="header-text">Área del administrador de plataforma</h3>
        
            <div class="header-user-icons">
                <div class="header-user-container">
                    <a class="header-icon" href="#" id="adminap_solicitudes"><i class='bx bx-mail-send'></i>
                        <!-- <span class="user-notification"></span> -->
                    </a>
                </div>
        
                <!-- <div class="header-user-container">
                            <a class="header-icon" href="#"><i class='bx bx-bell'></i>
                                <span class="user-notification"></span>
                            </a>
                        </div> -->
        
                <div class="header-user-container user-menu-wrap"><a class="mini-photo-wrapper" href="#"><img class="mini-photo"
                            id="avatar-img" src="../imgs/user.png" width="36" height="36"> <i
                            class='bx bx-chevron-down'></i></a>
                    <div class="menu-user-container">
                        <ul class="user-menu">
                            <a class="user-menu-link" href="#" id="ver_perfil_admin_plataforma">Perfil</a>
                            <a id="btn-cerrar-sesion" class="user-menu-link" href="#">Cerrar sesión</a>
                        </ul>
                    </div>
                </div>
        
            </div>
        
        </header>

    <!--Main-->
    <main id="main-admin">
        <div class="main-admin-titulo">
            <h1>Edición de Género</h1>
        </div>

        <form id="form" action="#">

            <div class="centrar-input">
                <div>
                    <label for="#">Género</label>
                    <input id="txt-genero" class="effect-21" type="text" placeholder="Ingresar el género"
                        aria-label="Ingresar el género">
                </div>
            </div>

            <button id="btn-enviar" type="button">Editar</button>

        </form>
        <!-- <div class="main-admin-titulo">
            <h1>Listados de Géneros</h1>
        </div> -->

        <div id="barra-busqueda">


    </main>

    <!--Aside-->
    <aside id="sidenav-admin">
    
        <div class="sidebar">
    
            <div class="sidenav-menu">
                <a class="logo" href="" id="ver_perfil_admin_libreria"><img src="../imgs/logo.png" alt="logo de Sorbil"></a>
            </div>
    
            <ul class="sidenav-list">
    
                <!-- <li class="sidenav-list-item">
                            <a href="#" class="sidenav-btn dropdown-toggle">
                                <i class='bx bx-plus'></i>
                                Registros
                                <div class="chevron"><i class='bx bx-chevron-down'></i></div>
                            </a>
                            <div class="sidenav-small-menu dropdown-menu">
                                <a href="#" id="registrar_adminal_categoria">Categorías</a>
                                <a href="#" id="registrar_adminal_genero">Géneros</a>
                                <a href="#" id="registrar_adminal_oferta">Oferta</a>
                                <a href="#" id="registrar_adminal_club_presencial">Club presencial</a>
                                <a href="#" id="registrar_adminal_club_virtual">Club virtual</a>
                            </div>
                        </li>
        
                        <li class="sidenav-list-item">
                            <a href="#" class="sidenav-btn dropdown-toggle">
                                <i class='bx bx-list-ul'></i>
                                Listados
                                <div class="chevron"><i class='bx bx-chevron-down'></i></div>
                            </a>
                            <div class="sidenav-small-menu dropdown-menu">
                                <a href="#" id="listar_adminal_libros">Libros</a>
                                <a href="#" id="listar_adminal_usuarios">Usuarios</a>
                                <a href="#" id="listar_adminal_sucursales">Sucursales</a>
                                <a href="#" id="listar_adminal_autores">Autores</a>
                                <a href="#" id="listar_adminal_intercambios">Intercambios</a>
                                <a href="#" id="listar_adminal_ofertas">Ofertas</a>
                                <a href="#" id="listar_adminal_categorias">Categorías</a>
                                <a href="#" id="listar_adminal_generos">Géneros</a>
                                <a href="#" id="listar_adminal_clubes">Clubes de lectura</a>
                            </div>
                        </li> -->
    
                <li class="sidenav-list-item">
                    <a id="listar_adminal_sucursales" href="#" class="sidenav-btn dropdown-toggle">
                        <i class='bx bxs-store'></i>
                        Sucursales
                        <div class="chevron"><i class='bx bx-chevron-down'></i></div>
                    </a>
                    <div class="sidenav-small-menu dropdown-menu">
                        <a href="#" id="registrar_adminal_sucursal">Sucursales</a>
                    </div>
                </li>
    
                <li class="sidenav-list-item"><a href="#" id="listar_adminal_usuarios"><i
                            class='bx bxs-user-plus sidenav-i'></i>Usuarios</a>
                </li>
    
                <li class="sidenav-list-item"><a href="#" id="listar_adminal_libros"><i
                            class='bx bxs-book sidenav-i'></i>Libros</a>
                </li>
    
                <li class="sidenav-list-item"><a href="#" id="listar_adminal_autores"><i
                            class='bx bxs-pencil sidenav-i'></i>Autores</a>
                </li>
    
                <li class="sidenav-list-item"><a href="#" id="listar_adminal_intercambios"><i
                            class='bx bxs-group sidenav-i'></i>Intercambios</a>
                </li>
    
                <li class="sidenav-list-item"><a href="#" id="listar_adminal_compras"><i
                            class='bx bxs-shopping-bag sidenav-i'></i>Compras</a>
                </li>
    
                <li class="sidenav-list-item">
                    <a id="listar_adminal_ofertas" href="#" class="sidenav-btn dropdown-toggle">
                        <i class='bx bxs-discount'></i>
                        Ofertas
                        <div class="chevron"><i class='bx bx-chevron-down'></i></div>
                    </a>
                    <div class="sidenav-small-menu dropdown-menu">
                        <a href="#" id="registrar_adminal_oferta">Ofertas</a>
                    </div>
                </li>
    
                <li class="sidenav-list-item">
                    <a id="listar_adminal_categorias" href="#" class="sidenav-btn dropdown-toggle">
                        <i class='bx bxs-bookmarks'></i>
                        Categorías
                        <div class="chevron"><i class='bx bx-chevron-down'></i></div>
                    </a>
                    <div class="sidenav-small-menu dropdown-menu">
                        <a href="#" id="registrar_adminal_categoria">Categorías</a>
                    </div>
                </li>
    
                <li class="sidenav-list-item">
                    <a id="listar_adminal_generos" href="#" class="sidenav-btn dropdown-toggle">
                        <i class='bx bxs-bookmarks'></i>
                        Géneros
                        <div class="chevron"><i class='bx bx-chevron-down'></i></div>
                    </a>
                    <div class="sidenav-small-menu dropdown-menu">
                        <a href="#" id="registrar_adminal_genero">Géneros</a>
                    </div>
                </li>
    
                <li class="sidenav-list-item">
                    <a id="listar_adminal_clubes" href="#" class="sidenav-btn dropdown-toggle">
                        <i class='bx bxs-book-open'></i>
                        Clubes de lectura
                        <div class="chevron"><i class='bx bx-chevron-down'></i></div>
                    </a>
                    <div class="sidenav-small-menu dropdown-menu">
                        <a href="#" id="registrar_adminal_club_virtual">Club virtual</a>
                        <a href="#" id="registrar_adminal_club_presencial">Club presencial</a>
                    </div>
                </li>
    
                <li class="sidenav-list-item"><a href="#" id="adminal_reportes"><i
                            class='bx bxs-report sidenav-i'></i>Reportes</a>
                </li>
    
                <li class="sidenav-list-item"><a href="#" id="adminal_bitacora"><i
                            class='bx bx-loader-alt sidenav-i'></i>Bitácora</a>
                </li>
    
            </ul>
    
        </div>
    
    </aside>

    <!--Footer-->
    <footer id="footer-admin">
        <a class="copyright" href="../views/fenix.html">©2019 - Desarrollado con mucho <i class='bx bxs-coffee'></i> por
            <span>FÉNIX</span></a>
    </footer>

    <!--Scripts-->
    <!-- <script src="../js/componentes/controlador-dropdowns-nav.js"></script> -->
    <script src="../js/componentes/controlador-dropdowns-user.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../js/servicio-genero.js"></script>
    <script src="../js/controlador-listar-generos.js"></script>
    <script src="../js/controlador-modificar-genero.js"></script>
    <script src="../js/cerrar-sesion.js"></script>
    <script src="../js/controlador-inicio-al.js"></script>
    <script src="../js/controlador-avatar.js"></script>

</body>

</html>