<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/validar-usuario-adminPla.js"></script>
    <link rel="stylesheet" href="../css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/layout/administradores.css">
    <link rel="stylesheet" href="../css/componentes.css">
    <link rel="shortcut icon" type="image/png" href="../imgs/favicon.png">
    <title>Sorbil -- Plataforma -- Registrar sucursal</title>
</head>

<body id="grid-admin">

    <!--Header-->
    <header id="header-admin">
    
        <h3 class="header-text">Área del administrador de plataforma</h3>
    
        <div class="header-user-icons">
            <div class="header-user-container">
                <a class="header-icon" href="#" id="adminap_solicitudes"><i class='bx bx-mail-send'></i>
                    <!-- <span class="user-notification"></span> -->
                </a>
            </div>
    
            <!-- <div class="header-user-container">
                        <a class="header-icon" href="#"><i class='bx bx-bell'></i>
                            <span class="user-notification"></span>
                        </a>
                    </div> -->
    
            <div class="header-user-container user-menu-wrap"><a class="mini-photo-wrapper" href="#"><img class="mini-photo"
                        id="avatar-img" src="../imgs/user.png" width="36" height="36"> <i
                        class='bx bx-chevron-down'></i></a>
                <div class="menu-user-container">
                    <ul class="user-menu">
                        <a class="user-menu-link" href="#" id="ver_perfil_admin_plataforma">Perfil</a>
                        <a id="btn-cerrar-sesion" class="user-menu-link" href="#">Cerrar sesión</a>
                    </ul>
                </div>
            </div>
    
        </div>
    
    </header>

    <!--Main-->
    <main id="main-admin">
        <div class="main-admin-titulo">
            <h1>Registro de Sucursal</h1>
        </div>

        <form id="form" action="#">

            <div id="form-container">
                <div>
                    <label for="#">Nombre</label>
                    <input id="txt-nombre-sucursal" type="text" placeholder="Ingresar nombre de la sucursal"
                        aria-label="Ingresar nombre de la sucursal">
                </div>
                <div>
                    <label for="#">Teléfono</label>
                    <input id="txt-telefono" type="tel" placeholder="Formato: 00-00-00-00"
                        aria-label="Ingresar el número de teléfono">
                </div>
                <div>
                    <label for="#">Correo Electrónico</label>
                    <input id="txt-correo" type="email" placeholder="Ingresar el correo electrónico"
                        aria-label="Ingresar el correo electrónico">
                </div>
                <div>
                    <label for="#">Provincia</label>
                    <select id="txt-provincia">
                        <option value="" selected="selected" disabled="disabled">Seleccionar
                            Provincia</option>
                    </select>
                </div>
                <div class="input-group">
                    <label for="#">Cantón</label>
                    <select id="txt-canton">
                        <option value="" selected="selected" disabled="disabled">Seleccionar Cantón
                        </option>
                    </select>
                </div>

                <div class="input-group">
                    <label for="#">Distrito</label>
                    <select id="txt-distrito">
                        <option value="" selected="selected" disabled="disabled">Seleccionar
                            Distrito</option>
                    </select>
                </div>

                <div class="input-group">
                    <div>
                        <h2>Seleccioná la ubicación de la sucursal en el mapa</h2>
                    </div>
                    <div id="map"></div>
                </div>

            </div>
            <button id="btn-enviar" type="button">Registrar</button>
        </form>

    </main>

    <!--Aside-->
    <aside id="sidenav-admin">

        <div class="sidebar">

            <div class="sidenav-menu">
                <a class="logo" href="" id="ver_perfil_admin_plataforma"><img src="../imgs/logo.png"
                        alt="logo de Sorbil"></a>
            </div>

            <ul class="sidenav-list">

                <!-- <li class="sidenav-list-item">
                            <a href="#" class="sidenav-btn dropdown-toggle">
                                <i class='bx bx-plus'></i>
                                Registros
                                <div class="chevron"><i class='bx bx-chevron-down'></i></div>
                            </a>
                            <div class="sidenav-small-menu dropdown-menu">
                                <a href="#" id="registrar_adminap_categoria">Categorías</a>
                                <a href="#" id="registrar_adminap_genero">Géneros</a>
                                <a href="#" id="registrar_adminap_oferta">Oferta</a>
                                <a href="#" id="registrar_adminap_club_presencial">Club presencial</a>
                                <a href="#" id="registrar_adminap_club_virtual">Club virtual</a>
                            </div>
                        </li>
        
                        <li class="sidenav-list-item">
                            <a href="#" class="sidenav-btn dropdown-toggle">
                                <i class='bx bx-list-ul'></i>
                                Listados
                                <div class="chevron"><i class='bx bx-chevron-down'></i></div>
                            </a>
                            <div class="sidenav-small-menu dropdown-menu">
                                <a href="#" id="listar_adminap_libros">Libros</a>
                                <a href="#" id="listar_adminap_usuarios">Usuarios</a>
                                <a href="#" id="listar_adminap_sucursales">Sucursales</a>
                                <a href="#" id="listar_adminap_autores">Autores</a>
                                <a href="#" id="listar_adminap_intercambios">Intercambios</a>
                                <a href="#" id="listar_adminap_ofertas">Ofertas</a>
                                <a href="#" id="listar_adminap_categorias">Categorías</a>
                                <a href="#" id="listar_adminap_generos">Géneros</a>
                                <a href="#" id="listar_adminap_clubes">Clubes de lectura</a>
                            </div>
                        </li> -->

                <li class="sidenav-list-item">
                    <a id="listar_adminap_librerias" href="#" class="sidenav-btn dropdown-toggle">
                        <i class='bx bxs-store'></i>
                        Librerías
                        <div class="chevron"><i class='bx bx-chevron-down'></i></div>
                    </a>
                    <div class="sidenav-small-menu dropdown-menu">
                        <a href="#" id="listar_adminap_sucursales">Sucursal</a>
                        <a href="#" id="registrar_adminap_sucursal">Sucursal</a>
                        <a href="#" id="adminap_solicitudes2">Solicitud</a>
                    </div>
                </li>

                <li class="sidenav-list-item"><a href="#" id="listar_adminap_usuarios"><i
                            class='bx bxs-user-plus sidenav-i'></i>Usuarios</a>
                </li>

                <li class="sidenav-list-item">
                    <a id="listar_adminap_libros" href="#" class="sidenav-btn dropdown-toggle">
                        <i class='bx bxs-book'></i>
                        Libros
                        <div class="chevron"><i class='bx bx-chevron-down'></i></div>
                    </a>
                    <div class="sidenav-small-menu dropdown-menu">
                        <a href="#" id="registrar_adminap_libro">Libros</a>
                    </div>
                </li>

                <li class="sidenav-list-item">
                    <a id="listar_adminap_autores" href="#" class="sidenav-btn dropdown-toggle">
                        <i class='bx bxs-pencil'></i>
                        Autores
                        <div class="chevron"><i class='bx bx-chevron-down'></i></div>
                    </a>
                    <div class="sidenav-small-menu dropdown-menu">
                        <a href="#" id="registrar_adminap_autor">Autores</a>
                    </div>
                </li>

                <li class="sidenav-list-item"><a href="#" id="listar_adminap_intercambios"><i
                            class='bx bxs-group sidenav-i'></i>Intercambios</a>
                </li>

                <li class="sidenav-list-item"><a href="#" id="listar_adminap_compras"><i
                            class='bx bxs-shopping-bag sidenav-i'></i>Compras</a>
                </li>

                <li class="sidenav-list-item">
                    <a id="listar_adminap_ofertas" href="#" class="sidenav-btn dropdown-toggle">
                        <i class='bx bxs-discount'></i>
                        Ofertas
                        <div class="chevron"><i class='bx bx-chevron-down'></i></div>
                    </a>
                    <div class="sidenav-small-menu dropdown-menu">
                        <a href="#" id="registrar_adminap_oferta">Ofertas</a>
                    </div>
                </li>

                <li class="sidenav-list-item">
                    <a id="listar_adminap_categorias" href="#" class="sidenav-btn dropdown-toggle">
                        <i class='bx bxs-bookmarks'></i>
                        Categorías
                        <div class="chevron"><i class='bx bx-chevron-down'></i></div>
                    </a>
                    <div class="sidenav-small-menu dropdown-menu">
                        <a href="#" id="registrar_adminap_categoria">Categorías</a>
                    </div>
                </li>

                <li class="sidenav-list-item">
                    <a id="listar_adminap_generos" href="#" class="sidenav-btn dropdown-toggle">
                        <i class='bx bxs-bookmarks'></i>
                        Géneros
                        <div class="chevron"><i class='bx bx-chevron-down'></i></div>
                    </a>
                    <div class="sidenav-small-menu dropdown-menu">
                        <a href="#" id="registrar_adminap_genero">Géneros</a>
                    </div>
                </li>

                <li class="sidenav-list-item">
                    <a id="listar_adminap_clubes" href="#" class="sidenav-btn dropdown-toggle">
                        <i class='bx bxs-book-open'></i>
                        Clubes de lectura
                        <div class="chevron"><i class='bx bx-chevron-down'></i></div>
                    </a>
                    <div class="sidenav-small-menu dropdown-menu">
                        <a href="#" id="registrar_adminap_club_virtual">Club virtual</a>
                        <a href="#" id="registrar_adminap_club_presencial">Club presencial</a>
                    </div>
                </li>

                <li class="sidenav-list-item"><a href="#" id="adminap_reportes_libreria"><i
                            class='bx bxs-report sidenav-i' id="adminap_reportes_libreria"></i>Reportes de librería</a>
                </li>

                <li class="sidenav-list-item"><a href="#" id="adminap_reportes_generales"><i
                            class='bx bxs-report sidenav-i' id="adminap_reportes_generales"></i>Reportes generales</a>
                </li>

                <li class="sidenav-list-item"><a href="#" id="adminap_bitacora"><i class='bx bx-loader-alt sidenav-i'
                            id="adminap_bitacora"></i>Bitácora</a>
                </li>

            </ul>

        </div>

    </aside>
    <!--Footer-->
    <footer id="footer-admin">
        <a class="copyright" href="../views/fenix.html">©2019 - Desarrollado con mucho <i class='bx bxs-coffee'></i> por
            <span>FÉNIX</span></a>
    </footer>

    <!--Scripts-->
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnj4Pk6sSOX5m4uxn8jO9VN2YjMUR7iO4&callback=initMap"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <!-- <script src="../js/componentes/controlador-dropdowns-nav.js"></script> -->
    <script src="../js/componentes/controlador-dropdowns-user.js"></script>
    <script src="../js/componentes/controlador-select.js"></script>
    <script src="../js/componentes/controlador-map.js"></script>
    <script src="../js/servicio-sucursal.js"></script>
    <script src="../js/controlador-registrar-sucursal.js"></script>
    <script src="../js/controlador-inicio-ap.js"></script>
    <script src="../js/cerrar-sesion.js"></script>
    <script src="../js/controlador-avatar.js"></script>
</body>

</html>