<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/componentes.css">
    <link rel="stylesheet" href="../css/layout/usuarios.css">
    <link rel="stylesheet" href="../vendors/glide-3.3.0/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="../vendors/glide-3.3.0/dist/css/glide.theme.min.css">
    <link rel="stylesheet" href="../css/paginas/fenix.css">
    <link rel="shortcut icon" type="image/png" href="../imgs/favicon-fenix.png">
    <title>Fénix -- Inicio</title>
</head>

<body>
    <main>

        <section class="section-main">
            <div class="main-info">
                <img src="../imgs/logo-fenix.png" alt="Logo de Fénix">
                <h1>Grupo Fénix</h1>
                <p>Ayudamos a las organizaciones a adoptar un enfoque de innovación centrado en el ser humano,
                    ofreciéndoles la
                    mentalidad,
                    la metodología y las herramientas adecuadas para construir culturas de colaboración que sean
                    creativas y centradas
                    en el
                    cliente.</p>
            </div>
        </section>

        <section class="section-integrantes">
            <h2 class="section-title">Roles del equipo</h2>
            <div class="card-container">
                <div class="cards">
                    <div class="card">
                        <div class="card-img"><i class='bx bxs-magic-wand'></i></div>
                        <div class="card-content">
                            <h2>Coordinación</h2>
                            <p>Cristopher Soto</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img"><i class='bx bxs-component'></i></div>
                        <div class="card-content">
                            <h2>Calidad</h2>
                            <p>Alejandro Sánchez</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img"><i class='bx bx-code-block'></i></div>
                        <div class="card-content">
                            <h2>Desarrollo</h2>
                            <p>María Fernanda Granados</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img"><i class='bx bx-cloud-upload'></i></div>
                        <div class="card-content">
                            <h2>Soporte</h2>
                            <p>María Alejandra Monge</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-company">
            <div class="company-info">
                <div class="info">
                    <h2>La Empresa</h2>
                    <div>
                        <h3>Misión</h3>
                        <p>Desarrollar productos y servicios que faciliten los desafíos humanos de la vida diaria
                            mediante
                            soluciones innovadoras y
                            con la mejor experiencia de usuario, para nuestros clientes y la comunidad.</p>
                    </div>
                    <div>
                        <h3>Visión</h3>
                        <p>Colaborar con nuestros clientes mediante soluciones factibles que permitan maximizar y
                            alcanzar sus metas.</p>
                    </div>
                </div>
                <div class="glide">
                    <div class="glide__track" data-glide-el="track">
                        <ul class="glide__slides">
                            <li class="slider"><a href="#"><img src="https://source.unsplash.com/uv5_bsypFUM/1600x900"
                                        alt="Imagen de presentación"></a></li>
                            <li class="slider"><a href="#"><img src="https://source.unsplash.com/bOKIptPzdPk/1600x900"
                                        alt="Imagen de presentación"></a></li>
                            <li class="slider"><a href="#"><img src="https://source.unsplash.com/qWwpHwip31M/1600x900"
                                        alt="Imagen de presentación"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-valores">
            <h3 class="section-title-h3">Valores</h3>
            <div class="info-valores">
                <div>
                    <i class='bx bxs-smiley-happy'></i>
                    <h4>Responsabilidad</h4>
                    <p> Las acciones no sólo afectan a la persona individual, sino
                        a todos los integrantes del equipo.</p>
                </div>
                <div>
                    <i class='bx bx-heart'></i>
                    <h4>Perseverancia</h4>
                    <p> Como el ave Fénix muere y renace, así debemos tratar
                        cualquier error, siempre seguir adelante mejorando.</p>
                </div>
                <div>
                    <i class='bx bxs-analyse'></i>
                    <h4>Innovación</h4>
                    <p> Capacidad de adaptarse a los cambios tecnológicos y brindar una
                        experiencia de usuario adaptada a las necesidades del
                        cliente.</p>
                </div>
            </div>
        </section>

        <section class="section-app">
            <div class="app-info">
                <div>
                    <img src="../imgs/iniciar-sesion-usuario.png" alt="Imagen de presentación"></a>
                </div>
                <div class="portafolio-sorbil">
                    <h2>Portafolio</h2>
                    <a class="sorbil-logo" href="../index.html"><img src="../imgs/logo.png"
                            alt="logo de App Sorbil"></a>
                    <p>Sorbil es una aplicación de libros en línea con sede en Costa Rica, que busca fomentar el hábito
                        de lectura en las personas, mediante la venta de libros virtuales y físicos. La aplicación
                        permite a las librerías del país asociarse y obtener beneficios para garantizar la mejor
                        experiencia para sus clientes.</p>
                    <h3>Tecnologías</h3>
                    <div class="skills">
                        <i class='bx bxl-nodejs'></i>
                        <i class='bx bxl-html5'></i>
                        <i class='bx bxl-css3'></i>
                    </div>
                    <a class="btn-color" href="../index.html">Ver la aplicación</a>

                </div>
            </div>
        </section>

        <footer>
            <div id="footer-copyright">
                <a class="copyright" href="../views/fenix.html">©2019 - Desarrollado con mucho <i
                        class='bx bxs-coffee'></i>
                    por
                    <span>FÉNIX</span></a>
            </div>
        </footer>

    </main>
    <script src="../vendors/glide-3.3.0/dist/glide.min.js">
    </script>
    <script src="../js/componentes/controlador-slider-fenix.js"></script>
    <script src="../js/componentes/controlador-dropdowns-main.js"></script>
</body>

</html>