<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.2/css/boxicons.min.css' rel='stylesheet'>
    <script src="../js/validar-usuario-u.js"></script>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/layout/usuarios.css">
    <link rel="stylesheet" href="../css/paginas/ver-libros.css">
    <link rel="stylesheet" href="../css/layout/perfil-usuario.css">
    <link rel="stylesheet" href="../css/layout/formularios.css">
    <link rel="stylesheet" href="../css/componentes.css">
    <link rel="shortcut icon" type="image/png" href="../imgs/favicon.png">
    <title>Sorbil -- Modificar cuenta</title>
</head>

<body id="body-form">
    <!--Header-->
    <header id="header-user">

        <div id="header-nav-1">
            <a class="logo" href="../views/u-inicio.html"><img src="../imgs/logo.png" alt="Logo de Sorbil"></a>

            <nav>
                <a href="../views/u-inicio.html"><i class='bx bx-home-circle'></i>Inicio</a>
                <a href="#" id="u-intercambios"><i class='bx bxs-book'></i>Intercambios</a>
                <a href="#" id="u-quienes-somos"><i class='bx bx-user-voice'></i>Quiénes somos</a>
            </nav>

            <div id="nav-inicio" class="header-user-icons">
                <div class="header-user-container">
                    <a class="header-icon" href="#" id="u-carrito"><i class='bx bx-cart-alt'></i>
                        <span class="user-notification">1</span>
                    </a>
                </div>
                <!-- <div class="header-user-container">
                        <a class="header-icon" href="#" id="u-biblioteca"><i class='bx bx-book-bookmark'></i>
                        </a>
                    </div> -->
                <div class="header-user-container user-menu-wrap"><b class="mini-photo-wrapper" href="#"><img
                            class="mini-photo" src="" width="36" height="36" id="avatar-img"> <i
                            class='bx bx-chevron-down'></i></b>
                    <div class="menu-user-container">
                        <ul class="user-menu">
                            <a class="user-menu-link" href="#" id="ver_perfil_usuario">Perfil</a>
                            <a id="btn-cerrar-sesion" class="user-menu-link" href="#">Cerrar sesión</a>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div id="header-nav-2" class="sticky">
            <nav class="top">

                <div class="dropdownBackground">
                    <span class="arrow"></span>
                </div>

                <ul class="cool header-nav-2-content">

                    <div class="menu_toggler">
                        <span class="menu_icon"></span>
                    </div>

                    <li>
                        <a href="p-ver-libros.html">Catálogo de libros<i class='bx bx-chevron-down'></i></a>
                        <ul class="dropdown dropdown1">
                            <div class="dropdown-content">
                                <table id="tabla-libros" class="tabla-links">
                                    <thead>
                                        <tr>
                                            <th><i class='bx bxs-book'></i>Lista de libros</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <div><a href="p-ver-libros.html" class="btn-white">Más libros</a></div>
                            </div>
                        </ul>
                    </li>

                    <li>
                        <a href="p-ver-librerias.html">Librerías asociadas<i class='bx bx-chevron-down'></i></a>
                        <ul class="dropdown dropdown1">
                            <div class="dropdown-content">
                                <table id="tabla-librerias" class="tabla-links">
                                    <thead>
                                        <tr>
                                            <th><i class='bx bxs-store'></i>Lista de librerías</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <div><a href="p-ver-librerias.html" class="btn-white">Más librerías</a></div>
                            </div>
                        </ul>
                    </li>

                    <li>
                        <a href="p-ver-clubes.html">Clubes de lectura<i class='bx bx-chevron-down'></i></a>
                        <ul class="dropdown dropdown1">
                            <div class="dropdown-content">
                                <table id="tabla-clubes" class="tabla-links">
                                    <thead>
                                        <tr>
                                            <th><i class='bx bxs-group'></i>Lista de clubes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <div><a href="p-ver-clubes.html" class="btn-white">Más clubes</a></div>
                            </div>
                        </ul>
                    </li>

                </ul>

            </nav>
        </div>

    </header>
    <!--Main-->
    <main id="main-form">

        <!--Aside-->
        <aside id="sidenav-user">

            <div class="sidebar">

                <ul class="sidenav-list">

                    <li class="sidenav-list-item"><a href="#" id="u-tarjetas"><i
                                class='bx bxs-credit-card sidenav-i'></i>Tarjetas de
                            crédito</a>
                    </li>

                    <li class="sidenav-list-item">
                        <a href="#" class="sidenav-btn dropdown-toggle" id="u-listar-clubes">
                            <i class='bx bxs-book-open'></i>
                            Clubes de lectura
                            <div class="chevron"><i class='bx bx-chevron-down'></i></div>
                        </a>

                        <div class="sidenav-small-menu dropdown-menu">
                            <a href="#" id="u-registrar-club-virtual">Club virtual</a>
                            <a href="#" id="u-registrar-club-presencial">Club presencial</a>
                        </div>
                    </li>


                    <li class="sidenav-list-item"><a href="#" id="u-listar-compras"><i
                                class='bx bx-money sidenav-i'></i>Compras</a>
                    </li>

                    <li class="sidenav-list-item"><a href="#" id="u-listar-ofertas"><i
                                class='bx bxs-purchase-tag sidenav-i'></i>Ofertas</a>
                    </li>

                    <li class="sidenav-list-item"><a href="#" id="u-listar-intercambios"><i
                                class='bx bxs-group sidenav-i'></i>Intercambios</a>
                    </li>

                    <li class="sidenav-list-item"><a href="#" id="u-listar-calificaciones"><i
                                class='bx bxs-star sidenav-i'></i>Calificaciones</a>
                    </li>

                    <li class="sidenav-list-item"><a href="#" id="u-listar-notificaciones"><i
                                class='bx bxs-bell-ring sidenav-i'></i>Notificaciones</a>
                    </li>

                    <li class="sidenav-list-item"><a href="#" id="u-seguridad"><i
                                class='bx bxs-lock sidenav-i'></i>Seguridad</a>
                    </li>

                </ul>
            </div>

        </aside>

        <section id="seccion-form">
            <div>
                <div class="form-title">
                    <h1>Modificar cuenta</h1>
                    <!--Barra de progreso-->
                    <div class="progress-container">
                        <ul class="progress-bar progress-bar-4">
                            <li class="progress-bar__dot full"></li>
                            <li class="progress-bar__connector"></li>
                            <li class="progress-bar__dot"></li>
                            <li class="progress-bar__connector"></li>
                            <li class="progress-bar__dot"></li>
                            <li class="progress-bar__connector"></li>
                            <li class="progress-bar__dot"></li>
                        </ul>
                    </div>
                </div>
                <form id="form" action="#">

                    <div id="form-container">
                        <!--Paso 1 del formulario-->
                        <div class="step step1">
                            <div>
                                <div>
                                    <div class="upload-img">
                                        <img src="../imgs/avatar-placeholder.png" alt="" class="img_registro_libro"
                                            id="portada">
                                        <label for="file">Subí tu imagen</label>
                                        <button id="btnSeleccionarImagen" type="button" id="img-uploader-portada"
                                            class="upload-msg"></button>
                                    </div>
                                </div>
                                <div class="input-dos-columnas">
                                    <div class="input-group">
                                        <label for="#">Nombre de usuario</label>
                                        <input id="txt-usuario" type="text" placeholder="Ingrese su nombre de usuario"
                                            aria-label="Ingrese su nombre de usuario">
                                    </div>

                                    <div>
                                        <label for="#">Correo electrónico</label>
                                        <input id="txt-correo" type="email" placeholder="Ingresar el correo electrónico"
                                            aria-label="Ingresar el correo electrónico">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--Paso 2 del formulario-->
                        <div class="step step2 hidden">
                            <div class="input-dos-columnas">
                                <div class="input-group">
                                    <label for="#">Nombre</label>
                                    <input id="txt-nombre" type="text" placeholder="Nombre" aria-label="Nombre">
                                </div>

                                <div class="input-group">
                                    <label for="#">Identificación</label>
                                    <input id="txt-id" type="text" placeholder="Formato: 0-0000-0000"
                                        aria-label="Identificación">
                                </div>
                            </div>

                            <div class="input-dos-columnas">
                                <div class="input-group">
                                    <label for="#">Primer apellido</label>
                                    <input id="txt-primer-apellido" type="text" placeholder="Primer apellido"
                                        aria-label="Primer apellido">
                                </div>

                                <div class="input-group">
                                    <label for="#">Segundo apellido</label>
                                    <input id="txt-segundo-apellido" type="text" placeholder="Segundo apellido"
                                        aria-label="Segundo apellido">
                                </div>
                            </div>

                            <div></div>
                            <div class="input-group">
                                <div>
                                    <label for="#">Sexo</label>
                                    <select id="txt-sexo" name="">
                                        <option value="" disabled="disabled" selected="true">Escoger una opción
                                        </option>
                                        <option value="Femenino">Femenino</option>
                                        <option value="Masculino">Masculino</option>
                                        <option value="Otro">Otro</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <!--Paso 3 del formulario-->
                        <div class="step step3 hidden">
                            <div class="input-group">
                                <div class="input-group">
                                    <div>
                                        <label for="#">Provincia</label>
                                        <select id="txt-provincia">
                                            <option value="" selected="selected" disabled="disabled">Seleccionar
                                                Provincia</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="input-dos-columnas">
                                    <div class="input-group">
                                        <label for="#">Cantón</label>
                                        <select id="txt-canton">
                                            <option value="" selected="selected" disabled="disabled">Seleccionar Cantón
                                            </option>
                                        </select>
                                    </div>

                                    <div class="input-group">
                                        <label for="#">Distrito</label>
                                        <select id="txt-distrito">
                                            <option value="" selected="selected" disabled="disabled">Seleccionar
                                                Distrito</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <label for="#">Dirección exacta</label>
                                    <textarea id="txt-direccion-exacta"></textarea>
                                </div>
                            </div>
                        </div>
                        <!--Paso 4 del formulario-->
                        <div class="step step4 hidden">
                            <div>
                                <h2>Selecciona tu ubicación en el mapa</h2>
                            </div>
                            <div id="map"></div>
                        </div>
                        <!--Botones del formulario-->
                        <div class="form-btns">

                            <div class="center-btns">
                                <div>
                                    <button id="previous" class="disabled button" disabled>
                                        <i class='bx bx-left-arrow-circle'></i>
                                    </button>
                                </div>

                                <div>
                                    <button id="next" class="button">
                                        <i class='bx bx-right-arrow-circle'></i>
                                    </button>
                                </div>
                            </div>

                            <div class="submit-btn">
                                <button id="btn-enviar" type="button" class="hidden button">
                                    Guardar
                                    <i class='bx bx-plus'></i>
                                </button>
                            </div>
                        </div>
                </form>
            </div>
        </section>
    </main>

    <footer id="footer-user">

        <div id="footer-links">
            <a href="../views/u-inicio.html"><img src="../imgs/logo-light.png" alt="Logo de Sorbil"></a>

            <nav>
                <a href="../views/u-inicio.html"><i class='bx bx-home-circle'></i>Inicio</a>
                <a href="#" id="u-intercambios"><i class='bx bxs-book'></i>Intercambios</a>
                <a href="#" id="u-quienes-somos"><i class='bx bx-user-voice'></i>Quiénes somos</a>
            </nav>
        </div>

        <div id="footer-copyright">
            <a class="copyright" href="fenix.html">©2019 - Desarrollado con mucho <i class='bx bxs-coffee'></i> por
                <span>FÉNIX</span></a>
        </div>

    </footer>
    <!--Scripts-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnj4Pk6sSOX5m4uxn8jO9VN2YjMUR7iO4&callback=initMap"></script>
    <script src="../js/componentes/controlador-sidemenu.js"></script>
    <script src="../vendors/sticky-js-master/dist/sticky.min.js"></script>
    <script src="../js/componentes/controlador-sticky.js"></script>
    <script src="../js/componentes/controlador-form-step4.js"></script>
    <script src="../js/componentes/controlador-dropdowns-main.js"></script>
    <script src="../js/componentes/controlador-dropdowns-user.js"></script>
    <script src="../js/servicio-usuario.js"></script>
    <script src="../js/controlador-u-modificar-perfil.js"></script>
    <script src="../js/componentes/controlador-select.js"></script>
    <script src="../js/componentes/controlador-map.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.cloudinary/1.0.18/jquery.cloudinary.js"
        type="text/javascript"></script>
    <script src="https://widget.cloudinary.com/global/all.js" type="text/javascript"></script>
    <script src="../js/servicio-imagen.js"></script>


    <script src="../js/componentes/controlador-lista-enlaces-privados.js"></script>
    <script src="../js/componentes/controlador-dropdowns-main.js"></script>
    <!-- JS para los perfiles-->
    <script src="../js/servicio-usuario.js"></script>
    <script src="../js/controlador-perfil-usuario.js"></script>
    <!-- JS para los permisos del usuario-->
    <script src="../js/cerrar-sesion.js"></script>
    <script src="../js/controlador-avatar.js"></script>
    <script src="../js/controlador-inicio-u.js"></script>

</body>

</html>