<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/layout/formularios.css">
    <link rel="stylesheet" href="../css/componentes.css">
    <link rel="shortcut icon" type="image/png" href="../imgs/favicon.png">
    <title>Sorbil -- Registro de libreria</title>
</head>

<body id="body-form">
    <!--Main-->
    <main id="main-form">
        <div id="form-image" class="form-bg-cuenta-administrador"><a href="../index.html"><img src="../imgs/logo.png"
                    alt="Logo de Sorbil"></a>
        </div>
        <section id="seccion-form">
            <div>
                <div class="form-title">
                    <h1>Solicitá el registro de la librería</h1>
                    <!--Barra de progreso-->
                    <div class="progress-container">
                        <ul class="progress-bar progress-bar-4">
                            <li class="progress-bar__dot full"></li>
                            <li class="progress-bar__connector"></li>
                            <li class="progress-bar__dot"></li>
                            <li class="progress-bar__connector"></li>
                            <li class="progress-bar__dot"></li>
                            <li class="progress-bar__connector"></li>
                            <li class="progress-bar__dot"></li>
                            <li class="progress-bar__connector"></li>
                            <li class="progress-bar__dot"></li>
                        </ul>
                    </div>
                </div>
                <form id="form" action="#">

                    <div id="form-container">

                        <!--Paso 1 del formulario-->
                        <div class="step step1">
                            <div>
                                <div class="upload-img">
                                    <img src="../imgs/book-placeholder.png" alt="Subir imagen de registro" class="img_registro_libro" id="portada">
                                    <label for="file">Subí el logotipo</label>
                                    <button id="btnSeleccionarImagen" type="button" id="img-uploader-portada" class="upload-msg"></button>
                                </div>
                            </div>
                                    <div class="input-group">
                                        <label for="#">Nombre de usuario</label>
                                        <input id="txt-usuario" type="text" placeholder="Ingresar el nombre de usuario"
                                            aria-label="Ingresar el nombre de usuario">
                                    </div>
                                    <div class="input-group">
                                        <div>
                                            <label for="#">Correo electrónico</label>
                                            <input id="txt-correo" type="email" placeholder="Ingresar el correo electrónico"
                                                aria-label="Ingresar el correo electrónico">
                                        </div>
                                    </div>
                            <!-- <div class="input-dos-columnas">
                            
                                <div class="input-group">
                                    <label for="#">Contraseña</label>
                                    <input id="txt-contrasena" type="password" placeholder="Ingresar la contaseña"
                                        aria-label="Ingresar la contaseña">
                                </div>

                                <div class="input-group">
                                    <label for="#">Verificación de contraseña</label>
                                    <input id="txt-verificacion-contrasena" type="password"
                                        placeholder="Ingresar la contaseña" aria-label="Ingresar la contaseña">
                                </div>
                            </div> -->
                        </div>
                        <!--Paso 2 del formulario-->
                        <div class="step step2 hidden">
                            <div>
                                <h2>Información de la librería</h2>
                            </div>
                            <div class="input-dos-columnas">
                                <div class="input-group">
                                    <label for="#">Nombre comercial</label>
                                    <input id="txt-empresa" type="text" placeholder="Ingresar el nombre"
                                        aria-label="Ingresar el nombre">
                                </div>
                                <div>
                                    <div class="input-group">
                                        <label for="#">Teléfono</label>
                                        <input id="txt-telefono" type="tel" placeholder="Formato: 00-00-00-00"
                                            aria-label="Formato: 00-00-00-00" >
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="input-group">
                                    <label for="#">Descripción de la empresa</label>
                                    <textarea id="txt-descripcion"></textarea>
                                </div>
                            </div>
                        </div>
                        <!--Paso 3 del formulario-->
                        <div class="step step3 hidden">
                            <div>
                                <h2>Dirección de la Empresa</h2>
                            </div>
                            <div class="input-group">
                                <div>
                                    <label for="#">Provincia</label>
                                    <select id="txt-provincia">
                                        <option value="" selected="selected" disabled="disabled">Seleccionar Provincia
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-dos-columnas">
                                <div class="input-group">
                                    <label for="#">Cantón</label>
                                    <select id="txt-canton">
                                        <option value="" selected="selected" disabled="disabled">Seleccionar Cantón
                                        </option>
                                    </select>
                                </div>

                                <div class="input-group">
                                    <label for="#">Distrito</label>
                                    <select id="txt-distrito">
                                        <option value="" selected="selected" disabled="disabled">Seleccionar Distrito
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-group">
                                <label for="#">Dirección exacta</label>
                                <textarea id="txt-direccion-exacta"></textarea>
                            </div>
                        </div>
                        <!--Paso 4 del formulario-->
                        <div class="step step4 hidden">
                            <div>
                                <h2>Arrastrá la ubicación en el mapa</h2>
                            </div>
                            <div id="map"></div>
                        </div>
                        <!--Paso 5 del formulario-->
                        <div class="step step5 hidden">
                            <div>
                                <h2>Ingresá tu información personal</h2>
                            </div>
                            <div class="upload-img">
                                <img class="img_registro_libro" id="contraportada" src="../imgs/avatar-placeholder.png"></img>
                                <label for="file">Subí tu avatar</label>
                                <button id="btnSeleccionarImagen2" type="button" id="img-uploader-portada" class="upload-msg"></button>
                            </div>
                            <div class="input-dos-columnas">
                                <div class="input-group">
                                    <label for="#">Nombre</label>
                                    <input id="txt-nombre" type="text" placeholder="Nombre" aria-label="Nombre">
                                </div>
                            
                                <div class="input-group">
                                    <label for="#">Identificación</label>
                                    <input id="txt-id" type="text" placeholder="Formato: 0-0000-0000" aria-label="Identificación">
                                </div>
                            </div>
                            
                            <div class="input-dos-columnas">
                                <div class="input-group">
                                    <label for="#">Primer apellido</label>
                                    <input id="txt-primer-apellido" type="text" placeholder="Primer apellido" aria-label="Primer apellido">
                                </div>
                            
                                <div class="input-group">
                                    <label for="#">Segundo apellido</label>
                                    <input id="txt-segundo-apellido" type="text" placeholder="Segundo apellido" aria-label="Segundo apellido">
                                </div>
                            </div>
                            <div>
                                <div class="txt-group">
                                    <div>
                                        <label for="#">Fecha de nacimiento</label>
                                        <input id="txt-fecha" type="date" placeholder="Ingresar su fecha de nacimiento"
                                            aria-label="Ingresar su fecha de nacimiento">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Botones del formulario-->
                        <div class="form-btns">
                            <div class="center-btns">
                                <div>
                                    <button id="previous" class="disabled button" disabled>
                                        <i class='bx bx-left-arrow-circle'></i>
                                    </button>
                                </div>

                                <div>
                                    <button id="next" class="button">
                                        <i class='bx bx-right-arrow-circle'></i>
                                    </button>
                                </div>
                            </div>

                            <div class="submit-btn">
                                <button id="btn-enviar" type="button" class="hidden button">
                                    Solicitar registro
                                    <i class='bx bx-plus'></i>
                                </button>
                            </div>

                        </div>

                    </div>

                </form>

            </div>
            <!-- <div class="btn-volver-formulario"><a href="../index.html">Volver a inicio</a></div> -->
        </section>


    </main>
    <!--Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnj4Pk6sSOX5m4uxn8jO9VN2YjMUR7iO4&callback=initMap"></script>
    <script src="../js/componentes/controlador-map.js"></script>
        <script src="../js/componentes/controlador-map-var.js"></script>
    <script src="../js/componentes/controlador-form-step5.js"></script>
    <script src="../js/componentes/controlador-select.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.cloudinary/1.0.18/jquery.cloudinary.js"
        type="text/javascript"></script>
    <script src="https://widget.cloudinary.com/global/all.js" type="text/javascript"></script>
    <script src="../js/servicio-imagen.js"></script>
    <script src="../js/servicio-libreria.js"></script>
    <script src="../js/controlador-registrar-libreria.js"></script>
</body>

</html>