<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/layout/formularios.css">
    <link rel="stylesheet" href="../css/componentes.css">
    <link rel="shortcut icon" type="image/png" href="../imgs/favicon.png">

    <title>Sorbil -- Recuperar contraseña</title>
</head>

<body id="body-form">
    <!--Main-->

    <main id="main-form">

        <div id="form-image" class="form-bg-iniciar-sesion-usuario"><a href="../index.html"><img src="../imgs/logo.png"
                    alt="Logo de Sorbil"></a>
        </div>

        <section id="seccion-form">

            <div>
                <div class="form-title">
                    <h1>Recuperar contraseña</h1>
                </div>

                <form id="form" action="#">

                    <div id="form-container">

                        <div class="form-container-inputs">
                            <div class="input-group">
                                <label for="#">Contraseña</label>
                                <input id="txt-contrasena" type="password" placeholder="Ingresar la contaseña"
                                    aria-label="Ingresar la contaseña">
                            </div>

                            <div class="input-group">
                                <label for="#">Verificación de contraseña</label>
                                <input id="txt-verf-contrasena" type="password" placeholder="Ingresar la contaseña"
                                    aria-label="Ingresar la contaseña">
                            </div>

                        </div>

                        <button id="btn-guardar" type="button">Guardar</button>

                    </div>

                </form>
            </div>

        </section>

    </main>

    <!--Scripts-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="../js/controlador-rec-contrasena.js"></script>
    <script src="../js/servicio-usuario.js"></script>

</body>

</html>