body {
    background: var(--color-alternative-bg);
}

.section-ver {
    margin: 0 auto;
}

.section-ver .ver-cards .ver-cards-container .contenedor_atributo p {
    font-size: 1.2rem;
    text-align: center;
    color: var(--color-secondary);
    padding: 0 0;
    padding-top: 0rem;
    height: 4rem;
}

.section-ver .ver-cards .ver-cards-container .contenedor_precio p {
    font-size: 1.8rem;
    color: var(--color-alternative-blue);
    font-weight: var(--font-semibold);
    padding: 2rem 0;
    margin-bottom: 2rem;
    margin-top: 0;
}

#main-user-section-banner {
    text-align: center;
    width: 100%;
    /* clip-path: circle(73% at 50% 15%); */
    margin-bottom: 5rem;
    background-image: url(../../imgs/landing-bgr.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

#main-user-section-banner .main-user-call-banner {
    padding: 6rem;
    animation-name: moveInUp;
    animation-duration: 1s;
}

#main-user-section-banner h1 {
    font-size: 4.5rem;
}

#main-user-section-banner p {
    font-size: 2rem;
    font-weight: var(--font-semibold);
    margin-bottom: 5rem;
}

#main-user-section-banner a {
    padding: 1.6rem 5rem;
    animation-name: moveInUp;
    animation-duration: 2s;
}

#main-user-section-banner a:hover {
    opacity: 1;
}

#main-user-section-banner a i {
    position: relative;
    top: .30rem;
    left: .6rem;
    font-size: 1.8rem;
}

.slider {
    height: 100%;
    margin-bottom: 5rem;
}

.slider a img {
    width: 20rem;
    height: 30rem;
}

#div-usuarioEnSesion {
    justify-self: end;
}

@media (max-width: 76.8rem) {
    #main-user-section-banner {
        clip-path: none;
    }
}