<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/validar-usuario-u.js"></script>
    <link rel="stylesheet" href="../css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/layout/formularios.css">
    <link rel="stylesheet" href="../css/componentes.css">
    <link rel="shortcut icon" type="image/png" href="../imgs/favicon.png">
    <title>Sorbil -- Seleccionar club de lectura</title>
</head>

<body id="body-form">
    <!--Main-->
    <main id="main-form">
        <div id="form-image" class="form-bg-crear-club-usuario"><a href="../index.html"><img src="../imgs/logo.png"
                    alt="Logo de Sorbil"></a>
        </div>
        <section id="seccion-form">
            <div>
                <div id="form">

                    <div>

                        <div class="form-title">
                            <h1>Registrar club de lectura</h1>
                            <p>Selecciona el tipo de club</p>
                        </div>
                        <!--Seleccionar club de lectura-->
                        <div class="form-nav card-container">
                            <div class="cards">
                                <div class="card">
                                    <div class="card-img card-club-presencial"></div>
                                    <div class="card-content">
                                        <p>Club presencial</p>
                                        <a class="card-btn" href="u-registrar-club-presencial.html">Registrar club</a>
                                    </div>
                                </div>
                                
                                <div class="card">
                                    <div class="card-img card-club-virtual"></div>
                                    <div class="card-content">
                                        <p>Club virtual</p>
                                        <a class="card-btn" href="u-registrar-club-virtual.html">Registrar club</a>
                                    </div>
                                </div>
                            </div>       
                        </div>

                    </div>

                </div>

            </div>
        </section>
    </main>
    <!--Scripts-->
    
</body>

</html>