/*
Inicio de estilos de formularios
*/

html {
    overflow: scroll;
    overflow-x: hidden;
}

/* #body-form {
    background-color: var(--color-alternative-bg);
} */

#main-form {
    display: grid;
    grid-template-columns: 20% 80%;
}

#main-form #form-image {
    background-size: 250%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: grid;
    justify-items: start;
    position: sticky;
}

#main-form #form-image a img {
    width: 20rem;
    padding: 2rem;
}

#main-form .form-bg-iniciar-sesion-usuario {
    background-image: url(../../imgs/iniciar-sesion-usuario.png);
}

#main-form .form-bg-iniciar-sesion-administrador {
    background-image: url(../../imgs/iniciar-sesion-administrador.png);
}

#main-form .form-bg-registrar-usuario {
    background-image: url(../../imgs/registro-usuario.png);
}

#main-form .form-bg-cuenta-administrador {
    background-image: url(../../imgs/crear-cuenta-administrador.png);
}

#main-form .form-bg-solicitar-cuenta-administrador {
    background-image: url(../../imgs/solicitar-cuenta-administrador.png);
}

#main-form .form-bg-crear-club-usuario {
    background-image: url(../../imgs/crear-club-usuario.png);
}

#main-form #form-container {
    display: grid;
    /* border-radius: var(--box-radius); */
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#main-form #form-container #btn-contrasena {
    text-align: center;
    font-size: 1.2rem;
    color: var(--color-black);
    transition: .2s;
    animation-name: moveInUp;
    animation-duration: 1s;
}

#main-form #form-container #btn-contrasena:hover {
    color: var(--color-alternative-blue);
}

#main-form #form-container #txt-btn {
    animation-name: moveInUp;
    animation-duration: 1s;
}

#main-form .form-nav {
    display: grid;
    justify-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#main-form .form-nav .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10rem;
}

#main-form p {
    padding: .5rem;
    border-bottom: var(--line);
    margin-bottom: 3rem;
}

#main-form #seccion-form {
    display: grid;
    /* grid-template-columns: 90% 10%; */
    align-items: center;
    box-shadow: var(--shadow-dark-2);
    padding: 2rem 0;
    /* margin: 1rem 1rem 1rem 0; */
    height: 1fr;
}

/* #main-form #seccion-form .btn-volver-formulario {
    align-self: start;
    justify-self: start;
    margin-top: 5rem;
}

#main-form #seccion-form .btn-volver-formulario a {
    padding: 1rem 2rem;
    border-radius: var(--box-radius);
    color: var(--color-primary);
    background-color: var(--color-white);
    box-shadow: var(--shadow-dark-2);
} */

#main-form #seccion-form .form-title .progress-container {
    display: grid;
    justify-items: center;
    display: none;
}

#main-form #seccion-form .form-title .progress-bar {
    display: grid;
    justify-items: center;
    width: 80%;
    padding: 0;
    margin-bottom: 5rem;
    opacity: .6;
}

#main-form #seccion-form .form-title .progress-bar-2 {
    grid-template-columns: repeat(3, 1fr);
}

#main-form #seccion-form .form-title .progress-bar-4 {
    grid-template-columns: repeat(7, 1fr);
}

#main-form #seccion-form .form-title .progress-bar li.progress-bar__dot {
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    border: 0.2em solid var(--color-alternative-blue);
    cursor: pointer;
    transition: all 0.3s ease;
}

#main-form #seccion-form .form-title .progress-bar li.progress-bar__dot.full {
    background-color: var(--color-alternative-blue);
    padding: .4rem;
}

#main-form #seccion-form .form-title .progress-bar li.progress-bar__dot.full:hover {
    background-color: var(--color-alternative-blue);
    opacity: .8;
}

#main-form #seccion-form .form-title .progress-bar li.progress-bar__connector {
    width: 10em;
    border-radius: var(--box-radius);
    height: 0.12em;
    background-color: var(--color-alternative-grey);
    margin-top: 0.45em;
    opacity: .4;
}

#main-form .form-title {
    display: grid;
    justify-items: center;
}

#main-form .form-title h1 {
    font-size: 2.8rem;
    text-align: center;
    text-transform: initial;
    padding: 1rem;
    margin-bottom: 2rem;
}

#main-form #form-container {
    display: grid;
    width: 65%;
}

#main-form #form-container>*, select {
    margin-bottom: 1rem;
}

#main-form #form-container h2 {
    font-size: 1.8rem;
    text-transform: initial;
    padding: .5rem;
    margin-bottom: 2rem;
    border-bottom: var(--line);
}

#main-form #form-container h3 {
    font-size: 1.6rem;
    text-align: center;
    text-transform: initial;
    padding: .5rem;
    margin-bottom: 2rem;
    border-bottom: var(--line);
}

#main-form #form-container label {
    margin-bottom: 1rem;
    display: block;
}

#main-form #form-container textarea {
    box-shadow: none;
}

#main-form #form-container label a {
    font-size: 1.2rem;
    color: var(--color-black-light);
    margin-left: 1rem;
    padding: 1rem;
    transition: .2s;
}

#main-form #form-container label a:hover {
    color: var(--color-alternative-blue);
}

#main-form #form-container input {
    transition: all 0.3s;
    border: .2rem solid var(--color-alternative-bg);
    margin-bottom: 5rem;
    box-shadow: none;
}

#main-form #form-container select {
    border: .2rem solid var(--color-alternative-bg);
    box-shadow: none;
}

/* #main-form #form-container .form-container-inputs {
    border: .1rem solid var(--color-alternative-bg);
    padding: 3rem;
}

#main-form #form-container .form-container-inputs div {
    margin-bottom: 3rem;
} */

#main-form #form-container input:focus {
    border: .2rem solid var(--color-alternative-blue);
}

#main-form #form-container select:focus {
    border: .2rem solid var(--color-alternative-blue);
}

#main-form #form-container .upload-img {
    padding-top: 2rem;
    height: 18rem;
}

#main-form #form-container .input-dos-columnas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
}

#main-form #form-container .hidden {
    display: none;
}

#main-form #form-container .button.disabled {
    display: none;
}

#main-form #form-container .form-btns {
    display: grid;
    justify-items: center;
}

#main-form #form-container .form-btns .center-btns {
    display: grid;
    grid-template-columns: repeat(2, 20rem);
    animation-name: moveInUp;
    animation-duration: 2s;
}

#main-form #form-container .form-btns .center-btns button {
    /* background-color: var(--color-alternative-blue); */
    background-color: transparent;
    border-radius: 50%;
    box-shadow: none;
}

#main-form #form-container .form-btns .center-btns button i {
    font-size: 6rem;
    color: var(--color-alternative-blue);
}

#main-form #form-container .form-btns #btn-enviar {
    margin-top: 3rem;
    animation-name: moveInUp;
    animation-duration: 1s;
}

#main-form #form-container .form-btns #btn-enviar i {
    position: relative;
    top: .30rem;
    left: .6rem;
    font-size: 1.6rem;
}

#main-form #form-container .form-btns #btn-enviar:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}

/*
Fin de estilos de formularios
*/

@media (max-width: 100rem) {
    #main-form #form-image {
        height: 120vh;
    }
    #main-form #form-image a img {
        width: 18rem;
    }
}

@media (max-width: 76.8rem) {
    #main-form {
        display: grid;
        grid-template-columns: 1fr;
    }
    #main-form #form-container .input-dos-columnas {
        display: grid;
        grid-template-columns: 1fr;
    }
    #main-form #form-image {
        display: none;
    }
    #main-form .form-nav .cards {
        grid-template-columns: 1fr;
        grid-row-gap: 2rem;
    }
}